.container{
    background-color: coral;
    margin: 0 auto;
    width: 80%;
}

img{
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;
    }
    .container{
        width: 100%;
        background-color: blue;
    }
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: limegreen;
}

.item{
    background-color: lightcoral;
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
}